.HeaderTop {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  a {
    display: block;
    padding: 9px 0 7px 20px;
    border-left: 1px solid #e5e5e5;
    color: black;
    text-decoration: none;
  }
}
