@import '../../variables.scss';

.navbar {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  .container-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar__toggle {
  color: white;
  background-color: map-get($map: $theme-colors, $key: 'primary');
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 3px black;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  margin-left: auto;
  margin-bottom: 6px;
  margin-right: -10px;
  border: none;
  img {
    margin-left: 7px;
  }
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: #333;
  overflow: hidden;
  transition: 0.3s height;
  > a,
  .navDropdown__toggle {
    padding: 8px 15px;
  }
  a,
  .navDropdown__toggle {
    font-size: 14px;
  }
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }
    &:hover {
      background-color: map-get($map: $theme-colors, $key: 'primary');
    }
  }
}

@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
  .navbar__menu {
    flex-direction: row;
    padding: 0;
    > a,
    .navDropdown__toggle {
      border-right: 2px solid #3b3b3b;
      padding: 15px 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .navbar {
    padding: 0;
    background-color: #333;
  }
}
