@import '../../App.scss';

.InnerHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  img {
    align-self: center;
    padding: 12px 0;
  }
  input,
  input:focus {
    color: #b2b2b2;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    margin-right: 1px;
  }
  .btn {
    margin-right: -10px;
  }
  .toolbar {
    position: absolute;
    top: 100%;
    margin-top: 17px;
    display: flex;
    align-items: flex-start;
    p {
      margin: 0 0 0 20px;
      line-height: 18px;
      font-size: 18px;
      font-weight: 700;
      color: #252525;
    }
    i:first-of-type {
      margin-right: 20px;
    }
    i {
      position: relative;
    }
    span {
      position: absolute;
      top: -7px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15px;
      width: 15px;
      background-color: map-get($map: $theme-colors, $key: 'primary');
      border-radius: 7px;
      color: white;
      font-size: 11px;
      font-weight: 700;
      font-family: 'Muli', sans-serif;
    }
  }

  .select-wraper {
    display: none;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 40px 0;
    .btn {
      margin-right: 0;
    }
    .logo {
      flex: 1.5;
    }
    .input-group {
      flex: 6;
    }
    .toolbar {
      position: static;
      flex: 2.5;
      justify-content: flex-end;
    }
    select {
      appearance: none;
      padding: 11px 27px 13px 23px;
      height: 100%;
      border-width: 1px 0 1px 1px;
      border-color: rgb(235, 235, 235);
      text-transform: capitalize;
      &:focus {
        outline-color: rgba(231, 171, 60, 0.25);
        outline-style: solid;
        outline-width: 0.2rem;
      }
    }
    .select-wraper {
      display: unset;
      position: relative;
      &::after {
        content: ' ';
        position: absolute;
        right: 0;
        top: 14px;
        z-index: 1;
        height: 20px;
        width: 1.5px;
        background-color: #e5e5e5;
      }
      i {
        position: absolute;
        right: 15px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .form-control {
      border-left: none;
      height: 100%;
      &:focus {
        margin-left: -1px;
      }
    }
  }
}
