@import '../../App.scss';

.Footer {
  background: #191919;
  padding-top: 75px;
  padding-bottom: 15px;
  .Footer__logo {
    display: block;
    margin-bottom: 24px;
  }
  .Footer__social {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    a {
      background: #434445;
      border-radius: 20px;
      text-align: center;
      margin-right: 12px;
      display: block;
      width: 40px;
      height: 40px;
      color: white;
      line-height: 40px;
      transition: 0.4s background-color;
      &:hover {
        background-color: map-get($map: $theme-colors, $key: 'primary');
      }
    }
  }
  p,
  li {
    color: #b2b2b2;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
  }
  li {
    line-height: 30px;
    a {
      color: #b2b2b2;
      line-height: 36px;
    }
  }
  h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
    font-size: 18px;
  }
  .input-group {
    margin-top: 15px;
    margin-bottom: 45px;
  }
  input,
  input:focus {
    color: #b2b2b2;
    background: #303030;
    height: 46px;
    border: none;
    padding-left: 20px;
  }
  .form-control::-webkit-input-placeholder {
    color: #b2b2b2;
  }
  hr {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #303030;
  }
  .copyright-text {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    i {
      color: #cc2424;
    }
  }
  .payment {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
