$theme-colors: (
  'primary': #e7ab3c,
);

$enable-rounded: false;

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn {
  text-transform: uppercase;
  color: white;
  &:hover,
  &:focus {
    color: white;
  }
}

//override bootstrap button color on active state
.btn-primary:not(:disabled):not(.disabled):active {
  color: white;
}
